/* Global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }
  
  h1, h2 {
    color: #2c3e50;
    margin: 10px 0;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Header styles */
  header {
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }
  
  /* Preformatted text (pre) styles */
  pre {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-wrap: break-word;
    font-size: 0.95em;
    font-family: 'Courier New', Courier, monospace;
    color: #2c3e50;
    white-space: preserve-breaks;
    a {
        font-weight: bold;
    }
  }
  
  /* Unordered List */
  ul {
    list-style: none;
    a {
        font-weight: bold;
    }
  }
  